%button-style {
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    border: 1px solid $secondary;
    border-radius: 50px;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: $font-sm;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out; 
    overflow: hidden;
  
    /*&::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.25);
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
  
    &:hover::before {
      opacity: 1;
    }*/
}

.button {
  @extend %button-style;
  background-color: $secondary;
  color: $white;

  &:hover {
    background-color: $white; 
    color: $secondary; 
  }
}

.secondary-button {
  @extend %button-style;
  background-color: $white;
  color: $primary;

  &:hover {
    background-color: $white; 
    color: $primary; 
  }
}
