/*.warpper{
    display:flex;
    flex-direction: column;
    font-size: 1.125rem;
    color: $primary;
}

.tabs{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 4rem;
    justify-content: space-between;
    .tab{ 
        cursor: pointer;
        padding-bottom: 1.5rem;
    }

}
.tabs > div{
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
}

.panels{
    background:#fffffff6;
    width:100%;
}
.panel{
    display:none;
    animation: fadein .8s;
}
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel,
  #four:checked ~ .panels #four-panel
  {
    display:block
    
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab,
  #four:checked ~ .tabs #four-tab
  {
    background:#fffffff6;
    font-weight: bold;
    border-bottom: 5px solid $secondary;
    
  }*/

.warpper {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  color: $primary;

  .tabs {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 4rem;
    justify-content: space-between;

    .tab {
      cursor: pointer;
      padding-bottom: 1.5rem;
    }
  }
  .tabs > div {
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
  }

  .panels {
    background: #fffffff6;
    width: 100%;
  }

  .panel {
    display: none;
    animation: fadein 0.8s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .radio {
    display: none;
  }

  .tab.active {
    background: #fffffff6;
    font-weight: bold;
    border-bottom: 5px solid $secondary;
  }
}
